body {
  padding: 25px;
  background: #fff;
}

@font-face {
  font-family: 'Avant';
  src: url('../FONTS/AvantGarde-Bold.otf');
}

@font-face {
  font-family: 'Glacial';
  src: url('../FONTS/GlacialIndifference-Bold.woff');
}

@font-face {
  font-family: 'GlacialR';
  src: url('../FONTS/GlacialIndifference-Regular.woff');
}

.box-logo{
  display: flex;
  justify-content: center;
}

.space {
  display: flex;
  justify-content: center;
}

.logo {
  width: 35px;
}

h2 {
  color: #000;
  font-family: "GlacialR", sans-serif;
  font-size: 2.0em;
  margin: 0;
  margin-top: 30%;
}

#cad {
  width: 100%;
  height: 50px;
  font-family: "GlacialR", sans-serif;
  color: #fff;
  background: #000;
  border: solid 1px #ccc;
  font-size: 1.2em;
  border-radius: 7px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.out {
  margin-top: 30%;
}

#log {
  width: 85%;
  height: 50px;
  font-family: "GlacialR", sans-serif;
  color: #000;
  background: #fff;
  border: solid 1px rgb(134, 133, 133);
  font-size: 1.2em;
  border-radius: 7px 0px 0px 7px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.out button img {
  width: 20px;
  margin-right: 5px;
}

.out p {
  text-decoration: none;
  font-family: "GlacialR", sans-serif;
  margin-top: 10%;
}

#log:hover {
  transform: scale(0.9);
  transition: all 0.2s;
}

#cad:hover {
  transform: scale(0.9);
  transition: all 0.2s;
}

h3 {
  width: 100%;
  font-family: "Avant", sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-top: 40px;
  line-height: 40px;
}


#ou {
  margin: 0;
}

.line {
  width: 40%;
  height: 1px;
  background: #ccc;
  margin: auto 10px;
}

#o {
  font-family: "GlacialR", sans-serif;
  font-size: 1.2em;
  color: #8a8989;
}

.align {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0 20px 0;
}

.out-2 {
  margin-top: 50px;
}

.out-2 b {
  text-decoration: none;
  font-family: "GlacialR", sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 100;
}

.out-2 b a {
  text-decoration: none;
  color: rgb(0, 64, 255);
}

.ali {
    display: flex;
    flex-direction: line;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border: solid 1px rgb(134, 133, 133);
    margin-left: 10px;
    border-radius: 0px 10px 10px 0px;
}

.info img{
    width: 25px;
}

.info:hover {
  transform: scale(0.9);
  transition: all 0.2s;
}

.info_list {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.info_list b {
    font-family: "GlacialR";
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.info_list i {
    font-style: normal;
    font-family: "GlacialR";
    color: red;
    margin-bottom: 15px;
    }

.list_info {
    position: relative;
    display: none;
    top: -50px;
    animation-name: list;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes list {
    0% {
        opacity: 0;
        top: -50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.aberta {
    display: block;
}