body {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: 'Avant';
    src: url('../FONTS/AvantGarde-Bold.otf');
  }
  
  @font-face {
    font-family: 'Glacial';
    src: url('../FONTS/GlacialIndifference-Bold.woff');
  }
  
  @font-face {
    font-family: 'GlacialR';
    src: url('../FONTS/GlacialIndifference-Regular.woff');
  }

  @keyframes slide{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .slide {
    animation-name: slide;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
    margin-top: 30px;
  }
  
  .align {
    display: flex;
    justify-content: center;

  }

  .title-z {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .title-z-1 {
    justify-content: left;
    width: 100%;
    padding-left: 10px;
  }
  
  .title-z-1 b {
    font-family: "GlacialR", sans-serif;
    font-size: 2.0em;
  }

  .title-rel {
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: left;
  }
  
  .title-rel button {
    background: #fff;
    border: none;
    margin-bottom: 10px;
  }
  
  .title-rel button img {
    width: 25px;
  }
  

  .pass {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pass a i {
    font-family: "GlacialR", sans-serif;
    text-decoration: underline;
    font-size: 1.0em;
    color: rgb(3, 3, 161);
    margin-left: 2px;
  }

  .verification {
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
    display: none;
    animation: slow 1s 1 forwards;
    position: relative;
  }
  
  .verification form label {
    font-family: "GlacialR", Sans-Serif;
    font-size: 1.4em;
  }

  .end {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: none;
    margin-bottom: 100px;
    animation: slow 1s 1 forwards;
    position: relative;
    box-sizing: border-box;
  }
  
  .end form label {
    font-family: "GlacialR", Sans-Serif;
    font-size: 1.4em;
  }

  .input-group {
    position: relative;
   }
   
   .input {
    width: 100%;
    border: solid 1.5px #ccc;
    border-radius: 5px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
     text-align: center;
    position: absolute;
    left: 15px;
    color: #000;
    transform: translateY(1rem);
    transition: 300ms cubic-bezier(0.4,0,0.2,1);
    font-family: "GlacialR", Sans-Serif;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: #fff;
    padding: 0.2em;
   }

   input {
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    height: 50px;
    outline: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-family: "GlacialR", sans-serif;
    font-size: 1.2em;
  }

  p {
    font-family: "GlacialR", sans-serif;
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 20px;
  }

  .ug {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .ug button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border: solid 1px #000;
    border-radius: 5px;
    color: #fff;
    font-family: "GlacialR", Sans-Serif;
    width: 50%;
    height: 40px;
  }
  
  .ug button:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid 1px #000;
    color: #000;
    font-family: "GlacialR", Sans-Serif;
    width: 40%;
  }
  
  .ug button img {
    width: 18px;
    margin-right: 10px;
  }

  .un {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .un button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border: solid 1px #000;
    border-radius: 5px;
    color: #fff;
    font-family: "GlacialR", Sans-Serif;
    width: 100%;
    height: 40px;
  }
  
  .un button img {
    width: 18px;
    margin-right: 10px;
  }

  u {
    font-weight: bold;
  text-decoration: none;
  }
  .aberta {
    display: block;
  }

  @keyframes slow {
    0% {
        opacity: 0;
        right: -500px;
      }
    100% {
        opacity: 1;
        right: 0px;
      }
  }

  .senha {
    text-decoration: none;
    font-style: normal;
    font-family: "GlacialR";
    font-size: 0.9em;
    margin-bottom: 25px;
    margin-left: auto;
  }







  
